.container-drinks {
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  height: 300px;
  width: 350px;
  padding: 12px;
}

.container {
  display: flex;
  padding: 10px;
  height: 60px;
  width: 80px;
  justify-content: center;
}

.img-drinks {
  height: 20px;
  width: 20px;
}
